@import "compass/reset";
@import "compass/css3";
@import "font-awesome";

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700);

//Variables
$golden: 1.61803399em;
$success: green;
$fail: red;


//Mix-ins
@mixin block {
	display:block;
	height:1em;
	line-height:1em;
	text-transform:uppercase;
	width:1em;
}

//Animations
@-moz-keyframes spin {
	0% { -moz-transform:rotate(0deg); }
	100% { -moz-transform:rotate(-360deg); }
}
@-webkit-keyframes spin {
	0% { -webkit-transform:rotate(0deg); }
	100% { -webkit-transform:rotate(-360deg); }
}

html{
	font-family: 'Open Sans', sans-serif;
	font-size:100%;
	color:#212121;
}

body{
	line-height:$golden;
}
header{
	left:25%;
	position:fixed;
	top:2em;
	width:50%;
	h1{
		display:inline;
		font-size:2em;
		font-weight:700;
		line-height:1em;
		margin-right:.5em;
		position:absolute;
		right:100%;
		text-align:right;
		top:0;
	}
	p{
		margin:0 0 .5em;
		em{ font-style:oblique; }
	}
}
#loading{
	-moz-animation:spin 1.5s infinite linear;
	-webkit-animation:spin 1.5s infinite linear;
	font-size:10em;
	height:1em;
	left:50%;
	line-height:1em;
	margin-left:-.5em;
	margin-top:-.5em;
	position:fixed;
	text-align:center;
	text-transform:uppercase;
	top:50%;
	width:1em;
}

#pronunciation,
#bell,
#buzz,
#msg,
#msg .feedback{ display:none; }
#msg{
	left:25%;
	margin-top:6em;
	position:fixed;
	text-transform:uppercase;
	top:50%;
	width:50%;
	&.correct,
	&.correct #positive,
	&.incorrect,
	&.incorrect #negative{
		display:block;
	}
	&.correct p{ background-color:$success; }
	&.incorrect p{ background-color:$fail; }
	p{
		@include border-radius(1em);

		color:#fff;
		cursor:pointer;
		display:inline-block;
		font-size:2em;
		font-weight:700;
		left:0;
		margin-top:-.5em;
		padding:.5em .5em .5em 1.75em;
		position:absolute;
		text-transform: uppercase;
		top:0;
		white-space:nowrap;
		i{
			@include block;
			left:.5em;
			margin-top:-.5em;
			position:absolute;
			top:50%;
		}
	}
}

#q{
	font-size:3em;
	left:25%;
	margin-top:-1em;
	max-width: 50%;
	position:fixed;
	top:50%;
	white-space:nowrap;
	i{
		@include block;
		margin-top:-.25em;
		position:absolute;
		right:100%;
		top:0;
		&:hover{
			color:#666;
			cursor:pointer;
		}
	}
	span{ font-weight:700;}
}

#a{
	left:25%;
	margin:0 0 0 1.75em;
	position:fixed;
	top:50%;
	width:50%;
	&.answered{
		li:hover{ cursor:default; }
	}
	li{
		display:inline;
		float:left;
		margin-bottom:1em;
		width:50%;
		&:hover{ cursor:pointer; }
		&.correct{ color:$success; font-weight:700; }
		&.chosen{ color:$fail; font-style:normal; }
		&.unchosen{ @include opacity(.25); }
		i{
			@include block;
			float:left;
			line-height:inherit;
			margin-left:-1.75em;
		}
	}
}

#status{
	background:#efefef;
	border-top:1px solid #dadada;
	bottom:0;
	left:0;
	padding:1em 0;
	position:fixed;
	text-align:center;
	width:100%;
	p{
		display:inline-block;
		margin:0 1em;
		span{
			font-weight:700;
		}
	}
	&:hover #clear{display:block;}
	#clear{
		display:none;
		line-height:1em;
		margin-right:1em;
		margin-top:-.5em;
		position:absolute;
		right:0;
		top:50%;
		&:hover{
			color:#666;
			cursor:pointer;
		};
	}
}
